<section *ngIf="temp1" class="w-50 mx-auto rounded bg-main-light p-3 my-5 shadow">
    <form [formGroup]="ForgotPasswordrGroup" (ngSubmit)="ForgotPassword( )">
        <label for="email" class="text-main">Email:</label>
        <input type="email" class="form-control mt-1 " id="email" placeholder="email...." formControlName="email">

        <div class="alert alert-danger p-1 m-0" *ngIf="
        ForgotPasswordrGroup.get('email')?.errors &&ForgotPasswordrGroup.get('email')?.touched
       ">
            <p *ngIf="ForgotPasswordrGroup.get('email')?.getError('required')" class="m-0 my-1">
                <i class="fa-solid fa-triangle-exclamation ps-1"></i>
                email Required
            </p>

            <p *ngIf="ForgotPasswordrGroup.get('email')?.getError('email')" class="m-0 my-1">
                <i class="fa-solid fa-triangle-exclamation ps-1"></i>

                invalid email
            </p>
        </div>
        <button class="btn-main w-50 mx-auto mt-3 d-block" *ngIf="!errorMsg"> Forgot Password</button>
        <p *ngIf="errorMsg" class="alert alert-success text-center w-50 mt-3 mx-auto p-1 mb-0">{{errorMsg}}</p>
    </form>


</section>

<section *ngIf="temp2" class="w-50 mx-auto rounded bg-main-light p-3 my-4 shadow">
    <form [formGroup]="resetCoderGroup" (ngSubmit)="resetCoder()">
        <label for="ResetCode" class="text-main">Reset Code:</label>
        <input type="text" class="form-control mt-1" id="ResetCode" placeholder="Reset Code...."
            formControlName="resetCode">
        <button class="btn-main w-50 mx-auto mt-3 d-block"> Reset Code</button>
        <p *ngIf="errorMsg" class="alert alert-success text-center w-50 mt-3 mx-auto p-1 mb-0">{{errorMsg}}</p>

    </form>


</section>

<section *ngIf="temp3" class="w-50 mx-auto rounded bg-main-light p-3 my-4 shadow">
    <form [formGroup]="resetpassrGroup" (ngSubmit)="resetpass()">
        <label for="ResetPassword" class="text-main">Reset Password:</label>
        <input type="password" class="form-control mt-1 " id="ResetPassword" placeholder="Reset Password...."
            formControlName="newPassword">
        <div class="alert alert-danger p-1 m-0" *ngIf="
        resetpassrGroup.get('newPassword')?.errors &&
        resetpassrGroup.get('newPassword')?.touched
      ">
            <p *ngIf="resetpassrGroup.get('newPassword')?.getError('required')" class="m-0 my-1">
                <i class="fa-solid fa-triangle-exclamation ps-1"></i>
                password Required
            </p>

            <p *ngIf="resetpassrGroup.get('newPassword')?.getError('pattern')" class="m-0 my-1">
                <i class="fa-solid fa-triangle-exclamation ps-1"></i>

                password must start with upperCase then from 6 to 10
            </p>
        </div>
        <button class="btn-main w-50 mx-auto mt-3 d-block"> Reset Password</button>

    </form>


</section>