<section *ngIf="details._id" class="w-75 mx-auto m-5 p-4 shadow">
    <div class="row align-items-center g-4  mx-auto">
        <div class="col-md-4 padding-0 ">

            <owl-carousel-o [options]="detailsOptions">

                <ng-container *ngFor="let slide of details.images">
                    <ng-template carouselSlide>
                        <img [src]="slide" class="w-100">
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
        <div class="col-md-8 p-3 ">
            <div>

                <div class="d-flex align-items-center justify-content-between ">
                    <h2 class="h5  text-main  product_text">{{details.title | cuttext: 3}}</h2>
                    <i class="fa-solid fa-heart heart mb-4 full " (click)="AddTowishlist(details._id)"
                        role="button"></i>
                </div>


                <p class="text-muted small small-p ">{{details.description}}</p>
                <span class="small-p ">{{details.category.name}}</span>
                <div class="d-flex align-items-center justify-content-between py-2 item">
                    <span>{{details.price|currency:"EGP"}}</span>
                    <p class="mb-0 small-p small"> <i *ngFor="let star of [1, 2, 3, 4, 5]" class="fas fa-star"
                            [ngClass]="{'rating-color': details.ratingsAverage >= star}"></i>
                        {{details.ratingsAverage}}</p>
                </div>

            </div>

            <footer>
                <button (click)="addProduct(details._id,btn)" class=" btn-main m-3" #btn>+Add to
                    Cart</button>

            </footer>

        </div>
    </div>
</section>