:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container-fluid {
  padding-top: 80px;
}
.up {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
}
.btn-main {
  border-radius: 20px 20px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
