header {
  cursor: pointer;
}

.product {
  .btn-main {
    transform: translateY(140%);
    width: 100%;
    text-align: center;
  }

  &:hover .btn-main {
    transform: translateY(0%);
    transition: all 0.7s;
  }
}
