<section class="bg-main-light w-50 mx-auto  shadow rounded my-3 p-3">
    <form [formGroup]="PaymentGroup" (ngSubmit)="payment()" class="mx-auto">
        <h1 class="h3 text-main"> Check Out Session :</h1>
        <div class="form-item w-75 mx-auto">

            <label class="my-2" for="details">details:</label>
            <input type="text" class="form-control  " formControlName="details" id="details" />
        </div>

        <div class="form-item w-75 mx-auto">
            <label class="my-2" for="phone">phone:</label>
            <input type="tel" class="form-control  " formControlName="phone" id="phone" />
        </div>
        <div class="form-item w-75 mx-auto">
            <label class="my-2" for="city">city:</label>
            <input type="text" class="form-control  " formControlName="city" id="city" />
        </div>
        <button class="btn-main mt-3 mx-auto text-center d-block">Check Out<i class="fa-solid fa-check"></i></button>



    </form>
</section>