@media (max-width: 780px) {
  section {
    width: 100% !important;
    margin-bottom: 20px;

    .item {
      flex-direction: column !important;
    }
    .error {
      width: 100% !important;
    }
  }
}
